<head>
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
</head>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li>
              <i class="far fa-envelope"></i>
              <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
            </li>
          {%- endif %}
            <li>
              <i class="fab fa-github"></i>
              <a class="u-email" href="https://github.com/jwmccarthy">jwmccarthy</a>
            </li>
            <li>
              <i class="fab fa-linkedin-in"></i>
              <a class="u-email" href="https://linkedin.com/in/jwmccarthy11">jwmccarthy11</a>
            </li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col-right">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
